{% extends '_media_bace.html' %}

{% block title %}
<title>{{ user.get_username }}・写真</title>
{% endblock %}

{% block main %}
    <header>
        <div id="home_accont_info">
            <div>
                <!--投稿ユーザーアイコンの表示-->
                <img id="home_account_icon" class="home_account_left_side" src="../static/images/image_in_account05.png" alt="画像が表示できません"/>
            </div>
            <div id="home_account_right_side">
                <!--ログイン名の表示-->
                <h1>{{ user.get_username }}</h1>
                
                投稿数
                フォロワー数
                フォロー数
                
            </div>
        </div>
        <div>
            <p>
                <!-- 自己紹介欄 -->
            </p>
        </div>
    </header>
    <div class="post_block">
        {% for post in object_list %}
        <a href="{% url 'detail' post.id %}" class="posted_images_link"> <!--画像をリンクとして表示(https://www.sejuku.net/blog/85388)-->
            <img src="/media/{{ post.upload_img }}" alt="画像を表示できません" class="posted_images">
        </a>
        {% endfor %}
    </div>
{% endblock %}